@charset "utf-8";
/* CSS Document */
/* Container Styles */
@font-face {
font-family: "yeezy";
src: url("/fonts/yeezy_tstar-bold-webfont.ttf");
src: url("/fonts/yeezy_tstar-bold-webfont.ttf") format("ttf"),	
}
@font-face {
font-family: "dkliq";
	src: url("/fonts/dk_liquid_embrace.ttf");
    src: url('/fonts/dk_liquid_embrace-webfont.woff2') format('woff2'),
         url('/2018/fonts/dk_liquid_embrace-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;	
}
body {
	background: linear-gradient(black, dimgray) scroll;
	background-color: black;
	background-attachment: fixed;
	font-size: 16px;
	margin: 0;
}
main {
	display: block;
	max-width: 1000px;
	border: 0px solid #779c32;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}
header {
	padding-top: 100px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
header>h1 {
	font-family: "yeezy";
	color:#fff;
	text-align: center;
	margin-top: 0px;
	padding-left: none;
}
nav {
}
/* Navigation Link Styles */
nav {
	display: flex;
	justify-content: flex-start;
}
h2 {
	font-family: 'yeezy';
	background-color: dimgray;
	font-size: 1.4em;
	text-align: center;
	border-left-style: solid;
	border-right-style: solid;
    border-color: aliceblue;
}
h3 {
	font-family: 'dkliq';
	font-size: 1em;
	text-align: center;
}
h4 {
	font-size: 1em;
	background-color: #cfc193;
}
h2, h3, h4 {
	color: #FFFFFF;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left:0%;
	margin-bottom: 0px;
	margin-top: 0px;
}
p{
	color: #fff;
	font-family: 'yeezy';
}
po{
	color: white;
}
p1{
	color: red;
}
p2{
	color: blue;
}
p3{
	color: yellow;	
}
p4{
	color: orange;
}
article {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
section {
	font-family: 'dkliq';
	width: 100%;
	padding: 5px;
	text-align: center;
	box-sizing: border-box;

}
figure {
	height: 220px;
	margin-top: 20px;
	text-align: center;
}
figcaption {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	font-style: italic;
	color: #356a12;
}
footer {
	height: 50px;
	line-height: 50px;
	font-family: 'dkliq';
	width: 100%;
	background-color: #6ADFFC;
	text-align: center;
}
footer>p {
	color: #fff;
}
a:link {
    text-decoration: none;
	color: #000;
}

a:visited {
    text-decoration: none;
	color: dimgray;
}

a:hover {
    text-decoration: underline;
	color: gold;
}

a:active {
    text-decoration: underline;
}
ul {
	font-family: 'yeezy';
	align-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}
li {
	float: left;
	border-right: 2px solid #00ccff; 
}
li a {
    display: block;
	color: white;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
}
/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
li a.active {
    background-color: #00ccff;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
li:last-child {
    border-right: none;
}